<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>メニュー画面</title>
	</head>
	<body>
		<div>
			<!--modelに追加した値を参照して表示させる-->
			<h2>ようこそ<span th:text="${userName}"></span>さん</h2>
		</div>
		<div>
			<p>教員</p>
			<!--コントローラーのMappingのValueがteacherのイベントにpost送信-->
			<form th:action="@{/menu}" method="post">
				<p><span th:text="${loginFormData.userId}"></span></p>
				<p>
					<input type="hidden" name="hiddenTeacherID" th:value="${userId}" />
					<input type="submit" name="class" value="時間割表" th:disabled="*{selectJob != 'Teacher'}" />
				</p>
			</form>
		</div>
		<div>
			<p>学生</p>
			<!--コントローラーのMappingのValueがstudentのイベントにpost送信-->
			<div>
				<form th:action="@{/menu}">
					<input type="hidden" name="hiddenUserName" th:value="${userName}" />
					<input type="hidden" name="hiddenStudentID" th:value="${userId}" />
					<input type="submit" name="courseRegist" value="履修登録" th:disabled="*{selectJob != 'Student'}" />
					<input type="submit" name="timeTable" value="時間割表" th:disabled="*{selectJob != 'Student'}" />
				</form>
			</div>
		</div>
		<div>
			<form th:action="@{/logout}">
				<input type="submit" name="logout" value="終了"/>
			</form>
		</div>
	</body>
</html>