<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">

		<title>授業</title>
	</head>
	<body>
		<h2 class="title">授業</h2>
		<form th:action="@{/dialog}" method="post">
			<div class="input-classid">
				<label for="classId">授業ID：</label>
				<select class="comboBox" name="classId">
					<option
						th:each="item : ${comboBox}"
						th:value="${item}"
						th:text="${item}">
					</option>
				</select>
			</div>
			<div class="errorArea">
				<label class="errorMsg" th:text="${classidError}"></label>
			</div>
			<div class="input-class-name">
				<label for="className">授業名：</label>
				<input type="text" name="className" id="className" />
			</div>
			<div class="errorArea">
				<label class="errorMsg" th:text="${classNameError}"></label>
			</div>
			<div class="input-class-time">
				<label for="classTime">時　間：</label>
				<input type="time" name="fromClassTime" id="fromClassTime" value="09:00" required />
				<label>～</label>
				<input type="time" name="toClassTime" id="toClassTime" value="12:00" required />
			</div>
			<div class="errorArea">
				<label class="errorMsg" th:text="${classTimeError}"></label>
			</div>
			<div class="flex-btn">
				<input type="hidden" name="from" value="class">
				<input type="submit" class="teacher-regist-btn" name="actionMsg" id="actionMsg" value="登録" />
				<input type="submit" class="teacher-update-btn" name="actionMsg" id="actionMsg" value="更新" />
				<input type="submit" class="teacher-delete-btn" name="actionMsg" id="actionMsg" value="削除" />
			</div>
		</form>
		<form th:action="@{/back}">
			<input type="submit" class="teacher-back-btn" name="back" id="back" value="戻る" />
		</form>
		<div>
			<!--時間割表-->
			<table border="1" class="timetable">
				<thead>
					<tr>
						<th class="class-id">授業ID</th>
						<th class="teacher-name">教員名</th>
						<th class="class-name">授業名</th>
						<th class="class-time">時間</th>
					</tr>
				</thead>
				<tbody>
					<!--dataを繰り返し処理でテーブルに表示-->
					<tr th:each="data : ${classData}" th:object="${data}">
						<td th:text="*{CLASS_ID}"></td>
						<td th:text="*{TEACHER_NAME}"></td>
						<td align="left" th:text="*{CLASS_NAME}"></td>
						<td th:text="*{CLASS_TIME}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>