<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>履修登録</title>
	</head>
	<body>
		<div>
			<h2>履修登録</h2>
		</div>
		<div>
			<form th:action="@{/insert}" method="post">
				<div>
					<p>授業ID：
						<input type="text" name="addClassID" id="addClassID" />
					</p>
				</div>
				<div>
					<input type="submit" name="regist" id="regist" value="登録" />
				</div>
			</form>
			<form th:action="@{/back}">
				<input type="submit" name="back" id="back" value="戻る" />
			</form>
		</div>
		<div>
			<!--時間割表-->
			<table border="1">
				<thead>
					<tr>
						<th>授業ID</th>
						<th>教員名</th>
						<th>授業名</th>
						<th>時間</th>
					</tr>
				</thead>
				<tbody>
					<!--dataを繰り返し処理でテーブルに表示-->
					<tr th:each="data : ${notClassData}" th:object="${data}">
						<td th:text="*{CLASS_ID}"></td>
						<td th:text="*{TEACHER_NAME}"></td>
						<td th:text="*{CLASS_NAME}"></td>
						<td th:text="*{CLASS_TIME}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>