<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>ログイン画面</title>
	</head>
	<body>
		<h1>ログイン</h1>
		<!--コントローラーのPostMappingがmenuのメソッドに-->
		<form th:action="@{/menu}" method="post">
			<div>
				<input type="radio" name="selectJob" th:value="Teacher" th:text="教員" />
				<input type="radio" name="selectJob" th:value="Student" th:text="学生" th:checked=true />
			</div>
			<p>
				<label for="userId">ユーザーID：</label>
				<input type="text" name="userId" id="userId" th:value="${userId}" />
				<label style="color: red;" th:text="${idError}"></label>
			</p>
			<p>
				<label for="password">パスワード：</label>
				<input type="text" name="password" id="password" />
				<label style="color: red;" th:text="${passError}"></label>
			</p>
			<p>
				<input type="submit" name="login" value="ログイン" />
			</p>
		</form>
		<form th:action="@{/end}">
			<input type="submit" name="end" value="終了" />
		</form>
	</body>
</html>
